# Compiled
*.elc

# Packaging
.cask

# backups
backups/

# auto-save
*~
\#*

# temp
temp/

# git clone packages
site-lisp/PG
site-lisp/company-coq
site-lisp/racket-mode
site-lisp/use-package

# doc
site-lisp/slime/doc

# desktop
*.desktop

