# First, ignore everything
*
# Now, whitelist anything that's a directory
!*/

# And all the file types you're interested in.
!*.org
!Makefile
!init-script.el
!init-header.el
!site-lisp/**
!lisp/**

!script/**
!snippets/**
!bash/**
!lib/**
!template/**
!doc/**
