[submodule "git/evil"]
	path = git/evil
	url = git@github.com:emacs-evil/evil.git
[submodule "git/goto-chg"]
	path = git/goto-chg
	url = git@github.com:lczch/goto-chg.git
[submodule "git/aweshell"]
	path = git/aweshell
	url = git@github.com:lczch/aweshell.git
[submodule "git/auto-save"]
	path = git/auto-save
	url = git@github.com:lczch/auto-save.git
